* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  text-align: center;
  color: #333333;
  font-weight: 600;
  /* margin-bottom: 30px; */
}

h2 {
  color: #333333;
  font-weight: 600;
  /* margin-bottom: 20px; */
}

.container {
  display: flex;
  gap: 30px;
}

.filter-section {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333333;
  outline: none;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.product-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.product-card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.product-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card h3 {
  font-weight: 500;
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
}

.product-card p {
  font-weight: 400;
  font-size: 14px;
  color: #777777;
  line-height: 1.5;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin: 0;
}

.product-image {
  transition: transform 0.3s;
}

.product-card:hover .product-image {
  transform: scale(1.1);
}

.product-content {
  padding: 15px;
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
}

.product-link {
  text-decoration: none;
  color: inherit;
}
